body {
  background-image: url("./images/janko-ferlic-sfL_QOnmy00-unsplash.jpg");
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

.hidden {
  display: none;
}

/* Modal Styling */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 15% auto;
  padding: 2rem;
  border: 1px solid black;
  width: 50%;
}

.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content form input {
  height: 2.5rem;
  margin-bottom: 0.75rem;
}

.btn-close {
  align-self: end;
}

.toggle-container {
  align-self: end;
  margin-bottom: 0.75rem;
}

/* ------------- */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  background-color: black;
  padding: 0.5rem;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}

.card-header h2 {
  font-size: 1.25rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.card-content-heading {
  font-weight: 700;
  font-size: 1.25rem;
}

.card-content p {
  padding-bottom: 0.75rem;
}

.card-footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0.5rem;
}

.delete-button,
.btn-close {
  border: none;
  height: 32px;
  width: 32px;
  background: #f5acac;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 0;
  padding: 0;
  border: 1px solid rgb(0 0 0 / 0.2);
}

.delete-button:hover,
.btn-close:hover {
  color: #e74c3c;
}

/* Accessible Toggle Switch */

.toggle1 {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  gap: 1ch;
}
.toggle-display {
  --offset: 0.25em;
  --diameter: 1.6em;

  display: inline-flex;
  align-items: center;
  justify-content: space-around;

  width: calc(var(--diameter) * 2.25 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 1.5);
  box-sizing: content-box;

  border: 1px solid rgb(0 0 0 / 0.2);

  position: relative;
  border-radius: 100vw;
  background-color: #f5acac;

  transition: 250ms;
  cursor: pointer;
}

.toggle-display::before {
  content: "";

  width: var(--diameter);
  height: var(--diameter);
  border-radius: 50%;

  box-sizing: border-box;
  border: 1px solid rgb(0 0 0 / 0.2);
  position: absolute;
  z-index: 2;
  top: 50%;
  left: var(--offset);
  transform: translate(0, -50%);
  background-color: #fff;
  transition: inherit;
}

@media (prefers-reduced-motion: reduce) {
  toggle-display {
    transition-duration: 0ms;
  }
}

.toggle-input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.toggle-input:focus + .toggle-display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
}

.toggle-input:focus:not(:focus-visible) + .toggle-display {
  outline: 0;
}

.toggle-input:checked + .toggle-display {
  background-color: #e3f5eb;
}

.toggle-input:checked + .toggle-display::before {
  transform: translate(calc(var(--diameter) * 1.25), -50%);
}

.toggle-display i {
  line-height: 0;
  vertical-align: middle;
  font-size: 2rem;
}

.bi-check {
  color: #1fb978;
}

.bi-x {
  color: #e74c3c;
}

/* ------------------------ */
